<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpscexams.bhajaneapp">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/myapplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/myapplogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity">
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value="com.mpscexams.bhajaneapp.MainActivity" />-->
        </activity>

        <activity android:name=".SplashScreen">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".DataDisplayActivity" >
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value="com.mpscexams.bhajaneapp.ListActivity" />-->
        </activity>
        <activity android:name=".MainActivity">
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value="com.mpscexams.bhajaneapp.MainActivity" />-->
        </activity>
    </application>

</manifest>